.child{

    background-color: lightgreen !important;
    margin-top: 11rem;
    width: 75%;
    height: 35rem;
    margin-left: 13%;
}
.xy{
    width: 10rem;
  
}
.black :-ms-input-placeholder{
  color: blue;
}
.arrange {
    width: 35%;
    margin-top: 6rem;
    margin-left: 2rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
  }
  .side{
    margin-top: 4rem;
    position: absolute;
    top: -4rem;
    left :33%;
    
  }
  .three{
    margin-top: 4rem;
    position: absolute;
    top: -4rem;
    left :66%;


  }
  .bvc{
    position: relative;
    left: 45%;
    
  }
  
  